/*Background*/
body{
    background-color: #6E5C62;
}
/*Background*/

/*Título*/
h1{
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
}
/*Título*/

/*Margem quadrados*/
main div div{
    margin-bottom: 4px;
}
/*Margem quadrados*/

/*Inputs*/
div input{
    outline: none;
    min-height: 74px;
    max-width: 74px;
    border-radius: 5px;
    border: 7px solid #4C4347;
    background-color: transparent;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

div input:hover{
    cursor: pointer;
}

.inp2{
    background-color: #4C4347;
}

.inp3{
    background-color: #4C4347;
}

.inp4{
    background-color: #4C4347;
}

.inp5{
    background-color: #4C4347;
}

.inp6{
    background-color: #4C4347;
}
/*Inputs*/

/*Alinhamento dos itens*/
main{
    display: grid;
    text-align: center;
}
/*Alinhamento dos itens*/

/*Botão*/
#bttn{
    background-color: #4C4347;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
}
/*Botão*/

#bttn2{
    background-color: #4C4347;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: none;
}

#bttn3{
    background-color: #4C4347;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: none;
}

#bttn4{
    background-color: #4C4347;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: none;
}

#bttn5{
    background-color: #4C4347;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: none;
}

#bttn6{
    background-color: #4C4347;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: none;
}

#resultado{
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: -15px;
}

#resul{
    max-width: 240px;
}

@media (max-width: 520px)
{
    div input{
        outline: none;
        min-height: 50px;
        max-width: 50px;
        border-radius: 5px;
        border: 7px solid #4C4347;
        background-color: transparent;
        font-family: sans-serif;
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }
}

@media (max-width: 400px)
{
    div input{
        outline: none;
        min-height: 40px;
        max-width: 40px;
        border-radius: 5px;
        border: 7px solid #4C4347;
        background-color: transparent;
        font-family: sans-serif;
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }
}

@media (max-width: 290px)
{
    div input{
        outline: none;
        min-height: 30px;
        max-width: 30px;
        border-radius: 5px;
        border: 7px solid #4C4347;
        background-color: transparent;
        font-family: sans-serif;
        text-transform: uppercase;
        color: white;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
}